server:
  port: 8020

spring:
  application:
    name: profile
  datasource:
    url: ${PROFILE_DB_URL}
    username: ${PROFILE_DB_USERNAME}
    password: ${PROFILE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      auto-commit: true
      pool-name: HikariPool
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
cloudinary:
  name: ${CLOUDINARY_NAME}
  apikey: ${CLOUDINARY_API_KEY}
  apisecret: ${CLOUDINARY_API_SECRET}
