server:
  port: 8000

spring:
  application:
    name: ApiGateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: ${AUTH_SERVICE_URL:http://localhost:8010}
              predicates:
                - Path=/auth/**
            - id: profile-service
              uri: ${PROFILE_SERVICE_URL:http://localhost:8020}
              predicates:
                - Path=/profile/**
            - id: video-service
              uri: ${VIDEO_SERVICE_URL:http://localhost:8030}
              predicates:
                - Path=/video/**

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: ${FRONTEND_URL}
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true

jwt:
  secret: ${JWT_SECRET_KEY}
